body{
  margin: 0;
}

a.no{
  text-decoration: none;
}

.body{
  margin: 0 18vw;
}

.topnav {
  background-color: black;
  overflow: hidden;
  height: 80px;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  font-family:Times-New-Roman;
}


.topnav a.nav {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  width:10%;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  flex: 1;

}

.nav_items{
  display: block;
}

.navb{ 
    display: flex;
    margin-top: 10px;
 }

 .topnav a.nav:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: royalblue;
  color: white;
}

.logo{
    height: 90px;
    margin-top: 10px;
    margin-left: 5px;

    overflow: hidden;
    object-fit: fill;
    flex: 1;
}

.linkcon{
      flex: 6;
}

.formscon{
    display: block;
    height: 30px;
}

.linkup{
    display: inline;
      float: right;
      margin-top: 5px;

      margin-right: 15px;
}

.name{
  color: white;
    font-size: 50px;
    margin-top: 1rem;
    margin-bottom: 0;
    flex: 3;
}

.space{
  margin-right: 8vw;
}